@{
    ViewBag.Title = "Exception";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="tabular-data">
    <table class="table stacktable large-only tablularData">
        <caption>Exception <span>List</span></caption>
        <thead>
            <tr id="search-filter">
                @*<th>
                        <a class="sort-icon" onclick="sortRequest('admonthid')">Month Id</a>
                        <br />
                        <input type="text" id="admonthid" name="admonthid" class="form-control" placeholder="Month Id" />
                    </th>*@
                <th>
                    <a class="sort-icon" onclick="sortRequest('month')">Month</a>
                    <br />
                    @if(ViewBag.MonthId != null)
                    {
                        @Html.DropDownList("month", new SelectList(ViewBag.MonthList, "Value", "Text", ViewBag.MonthId), "All", new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownList("month", new SelectList(ViewBag.MonthList, "Value", "Text"), "All", new { @class = "form-control" })
                    }
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('year')">Year</a>
                    <br />
                    <input type="text" id="year" name="year" class="form-control number" placeholder="Year" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('dropnumber')">Drop Number</a>
                    <br />
                    @if (ViewBag.DropNumber != null)
                    {
                        <input type="text" id="dropnumber" name="dropnumber" class="form-control number" placeholder="Drop Number" value="@ViewBag.DropNumber"/>
                    }
                    else
                    {
                        <input type="text" id="dropnumber" name="dropnumber" class="form-control number" placeholder="Drop Number"  />
                    }
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('adstoreid')">Store Id</a>
                    <br />
                    <input type="text" id="adstoreid" name="adstoreid" class="form-control number" placeholder="Store Id" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('storename')">Store Name</a>
                    <br />
                    <input type="text" id="storename" name="storename" class="form-control" placeholder="Store Name" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('description')">Description</a>
                    <br />
                    <input type="text" id="description" name="description" class="form-control" placeholder="Description" />
                </th>


            </tr>
        </thead>
        <tbody id="data-grid">
            <!-- Data Table  -->
        </tbody>
    </table>
</div>
<script src="~/Scripts/AjaxGrid.js"></script>

<script type="text/javascript">
    _accessUrl = '@Url.Action("DataGridList", "Exception")';
    _gridDivId = 'data-grid';
    _searchBoxDivId = 'search-filter';
    _showAllRecords = false;
    _sortExpression = 'marketid';
    _isEditorPage = true;

    $(function () {
        searchRequest();

    });

    $('body').on('change', '#search-filter th input[type=text],#search-filter th select', function () {
        searchRequest();
    });
</script>