
@{
    ViewBag.Title = "Store Ad Options";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="tabular-data">
    <table class="table stacktable large-only tablularData">
        <caption>Store Ad Options <span> List</span></caption>
        <thead>
            <tr id="search-filter">
                <th>
                    <a class="sort-icon" onclick="sortRequest('storeid')">Store ID</a>
                    <br />
                    <input type="text" id="storeid" name="storeid" class="form-control number" placeholder="Store ID" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('storename')">Store Name</a>
                    <br />
                    <input type="text" id="storename" name="storename" class="form-control" placeholder="Store ID" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('optionname')">Ad Option</a>
                    <br />
                    <input type="text" id="optionname" name="optionname" class="form-control" placeholder="Ad Option" />
                </th>
                <th style="vertical-align: top; width: 100px;">
                    Action
                    <br />
                    <img src="@Url.Content("~/content/images/search.png")" onclick="searchRequest();" class="search-btn" title="search" style="cursor:pointer;" />

                    <a href="@Url.Content("~/Admin/ManageStoreOption/Add")">
                        <img src="@Url.Content("~/content/images/add-user.png")" title="add" style="cursor:pointer;" />
                    </a>
                </th>                           
            </tr>
        </thead>
        <tbody id="data-grid">
            <!-- Data Table  -->
        </tbody>
    </table>
</div>
<script src="~/Scripts/AjaxGrid.js"></script>

<script type="text/javascript">
    _accessUrl = '@Url.Action("DataGridList", "ManageStoreOption")';
    _gridDivId = 'data-grid';
    _searchBoxDivId = 'search-filter';
    _showAllRecords = false;
    _sortExpression = 'allowedstoreoptionid';
    _isEditorPage = true;

    $(function () {
        asynList();

    });

    $('body').on('change', '#search-filter th input[type=text]', function () {
        searchRequest();
    });
</script>